body,html{
    font-family: 'Noto Sans KR', sans-serif;
    height:100%;width: 100%;
    background-color: #ffbfc3;
   
}
html{
    scroll-behavior: smooth;
}
.page{
    width:100%;
    height: 100%;
}

a{
    text-decoration: none;
    display: block;
}


ul>li{
    list-style: none;
}
img{
    display: block;
}

/* #home,#aboutme,#skill,#contact{
    overflow-y: scroll;
}
#portfolio{overflow-x: scroll;} */

/* ------------------------------------------ */
/* nav */
/* ------------------------------------------ */


#nav{
    position:fixed; 
    left:50%;
    top:2%;
    width: 100%;
    z-index: 100;
}

#nav>ul>li{
    float: left;
    font-size: 1.2em;
    line-height: 30px;
    font-weight: 600;
    list-style: none;
   
}



#nav>ul>li>a{
    color : #182e47;
    padding:0.5em 2em;
}



#nav>ul>li>a.active{
    color : #feefd5;
}
#nav>ul>li>a.active:hover{
    color : #feefd5;

}

#nav>ul::after{ content:""; display: block; clear: both;}

#nav>ul>li>a:hover{
    color: #EE4E34;
    font-weight: bold;
   
}


/* ------------------------------------------ */
/* home */
/* ------------------------------------------ */

#home{
    position:relative;
}

#home>p{
    font-size:1em;
    position: absolute;
    bottom:25%;
    transform: rotate(-90deg);
    letter-spacing: 0.3em;
    color:#182e47;
}

#home>div>img{
    position: absolute;
    left:50%;
    bottom:10%;
}


/* 메인 svg */
#home > img {
    position:absolute;
    width: 50%;
    left:26%;
    bottom:21%;
}



/* ------------------------------------------ */
/* about me */
/* ------------------------------------------ */
#wrap_am::after{content:""; display:block; clear: both;}
#hash_am>ul::after{content:""; display:block; clear: both;}

#aboutme{
    background-color:#feefd5;
    position: relative;
    
}

#wrap_am{
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}

#photo_am{
    width:50%;
    float: left;
    opacity:0;

}
#photo_am>img{
    margin: 14em 0;
    width:100%;
    box-sizing: border-box;
}
#photo_am.on{
    opacity: 1;
 
    transition-duration: 1s;
}




/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */

#profile_am{
    margin-top: 18em;
    margin-left: 5em;
    float: left;
    width:41%;
    box-sizing: border-box;
    display: block;
    opacity:1;

}
#profile_am.on{
    margin-top: 15em;
    float: left;
    width:50%;
    box-sizing: border-box;
    /* display: block; */
    opacity:0;
}



#profile_name{
    display: inline-block;
    margin-left: 1em;
    margin-bottom :-0.4em;
    width:85px;
}
#profile_age, #profile_address,#profile_blog{
    display: inline-block;
    margin-top: 0.5em;
    margin-right: 0.5em;
}


#pro2_high{
    font-weight: 700;
    color: #182e47;
}

#profile1{
    font-size:1.4em;
    margin-bottom: 2em;
}

#profile2{
    font-size:1.1em;
    line-height: 2;
}


.bg3{
    font-weight: 800;
}
#profile2>li{
    font-size: 1.2em;
}
.period{
    font-size: smaller;
    margin-right: 0.8em;
}


/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */

#pf4_p2{
    margin-top :2em;
}
#profile4{
    display: none;
    position: absolute;
    top: 32%;
    right: 18%;
    font-size: 1.2em;
    line-height: 2;
    width:550px;
    box-sizing: border-box;
    
  
}

#profile4.on{
    display: block;
    position: absolute;
    top: 32%;
    right: 18%;
    font-size: 1.2em;
    line-height: 2;
    width:550px;
    box-sizing: border-box;
  
}


#hash_am>ul>li{
    display: inline-block;
    font-size: 1.5em;
    font-weight: 800;
    padding: 0 0.5em 0 0 ;
}
#hash_am{
    margin-bottom: 2em;
    position:relative;
}
.hashHi{
    display: inline-block;
    position:absolute;
}

#hi1{
    left:45%;
    top:-5%;
    animation:bingbing1 2s 1s linear ;
}
#hi2{
    left:50%;
    top:-8%;
    animation:bingbing2 2s 1s linear ;
}
@keyframes bingbing1 {
    0%,100% {
        transform:rotate(360deg);
      }
    10%{
        transform:rotate(0deg);
      }
   
    50%{
        transform:rotate(-60deg);
    }
}

@keyframes bingbing2 {
    0%,100% {
        transform:rotate(360deg);
      }
    10%{
        transform:rotate(10deg);
      }
    30%{
        transform:rotate(-40deg);
      }
    50%{
        transform:rotate(50deg);
    }
    70%{
        transform:rotate(-60deg);
    }
}

#pf4_am{
    position:relative;
   
}

/* 하이라이트 */

#pf4_p1>img{
    position:absolute;
    left:23%;
    top:15%;   
    width:150px;opacity:0;
}
#pf4_p2>img:first-of-type{
    position: absolute;
    top:92%;
    left: 1%;
    opacity:80%;opacity:0;
}
#pf4_p2>img:last-of-type{
    position: absolute;
    top:40%;
    opacity:50%;
    left:18%;opacity:0;
}
.underBar{
    animation: undermotion 0.5s 0.5s linear forwards;
}
@keyframes undermotion {
    0%{
        opacity:0;
        
    }
    100%{
        opacity:60%;
    }
}

.bg4{
    font-weight: 600;
    font-size: 1.3em;
    
}





/* ------------------------------------------ */
/* skill */
/* ------------------------------------------ */

#left_skill>ul>li{float:left;}
#tool_box>ul>li{ float: left }
#wrap_sk>div{ float: left;}

#tool_box>ul::after{display: block; clear: both; content: "";}
#left_skill>ul::after{display: block; clear: both;content: "";}
#wrap_sk::after{display: block; clear: both;content: "";}


#skill{
    background-color:#feefd5;
}

#wrap_sk{
    width:1200px;
    margin: 0 auto;
    padding-top: 10em;
}

#left_skill{ width:55%;}
#right_skill{ width:45%; padding:8em 0;}


#html_icon{ background-image:url(../images/skill_html.png) ; }
#css_icon{ background-image:url(../images/skill_css.png);}
#jquery_icon{ background-image:url(../images/skill_jQuery.png);}
#js_icon{ background-image:url(../images/skill_js.png); }
#ps_icon{ background-image:url(../images/skill_photoshop.png);}
#ai_icon{ background-image:url(../images/skill_iller.png);}

.skillicon{
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}

.skill_count{
    margin-top: 4em;
    display: inline-block;
    margin-left: 10px;
    font-size: 3em;
    font-weight: 800;
    
}
.percent{
    display: inline-block;
    font-size: 2.5em;
    font-weight: 800;
}

#left_skill>ul>li:not(:last-child){
    margin-right: 95px;
}

#right_skill>div>h3{
    text-align: center;
    font-size: 2.5em;
    font-weight: 800;
    display: block;
    
}

#tool_box>ul>li>img{
    margin:2em;
    width: 120px;
    padding-left: 50px;
}


#certification > span{
    margin:2em;
    display: block;
    text-align: center;
    font-size: 1.3em;
    font-weight: 700;
}
/* ------------------------------------------ */
/* portfolio */
/* ------------------------------------------ */
#wrap_pf::after{content: ""; display: block;clear: both;}
.project::after{content: ""; display: block;clear: both;}

#wrap_pf{
    width:300%;height: 100%;
    
}
#portfolio{
    position:relative;
    overflow-x:hidden ;
    width: 100%;
}
#content1{
    background-image:url(../images/hello_back.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}
#content2{
    background-image:url(../images/peach_back.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}
#content3{
    background-image:url(../images/sampay_back.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}


.project{
    width: 33.33%;
    float: left;
    padding: 175px 0 125px 300px;
    box-sizing: border-box;
}

.mockup{ 
    width :750px;
    float:left;
    box-sizing: border-box;

    /* 애니메이션 */
    transform: translate(-300px,0);
    opacity: 0;
    transition: 1s;
    transition-duration: 1s;
    
}

.mockup.on{
    opacity:1;
    transition: 1s;
    transition-duration: 1s;
    transform: translate(0,0);
}

.mockup_info{
    float: left;
    width: 450px;
    box-sizing: border-box;
    margin-top: 100px;

    /* 애니메이션 */
    transform: translate(300px,0);
    opacity: 0;
    transition: 1s;
    transition-duration: 1s;
   
}

.mockup_info.on{
    opacity:1;
    transition: 1s;
    transition-duration: 1s;
    transform: translate(0,0);
}

.mockup>img{
      width:750px;
}


.mockup_info>ul>li>img{
    width: 400px;  
    margin-bottom:2em;
}


.mockup_info>ul>li{
    color:#182e47;
    font-size: 1.2em;
    line-height: 2.3;
    margin-left: 60px;
}
.mockup_info>ul>li:not(:first-child){
    padding-left: 2em;
}

.mockup_info>ul>li>span {
    margin-left: 2em;
}

#leftbtn,#rightbtn{
    width: 30px;
    position:absolute;
    bottom: 50%;
    opacity:0.1;
    cursor: pointer;
}
#leftbtn:hover{
    opacity:1;
    transition: 1s;
}

#rightbtn:hover{
    opacity:1;
    transition: 1s;
}

#leftbtn{
    left: 3em;
}
#rightbtn{
    right: 3em;
}


/* ------------------------------------------ */
/* contact */
/* ------------------------------------------ */

#wrap_ct>div{float:left;}
#wrap_ct::after{content: ""; clear: both;display: block;}


#contact{
    background-image:url(../images/contact_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
#wrap_ct{
    width:1200px;
    margin: 0 auto;
}
#left_ct{
    width : 80%;
}
#right_ct{
    width: 20%;
    padding: 320px 0;
}

#left_ct>h3{
    padding: 1.3em 0;
    font-size: 6em;
    color:#182e47;
    font-weight: 900;
}

#left_ct>p{
    font-size: 1.9em;
    line-height: 2;
    font-weight: 700;   
}

