body,
html {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #ffbfc3;
}
.nanum-gothic-regular {
  font-family: "Nanum Gothic", serif;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
}
.page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
ol, ul {
  padding-left: 0rem;
}
a {
  text-decoration: none;
  display: block;
  color:black;
}
.rf {
  color: #ee4e34;
}
.bf {
  color: #182e47;
}
.yf {
  color: #feefd5;
}

ul > li {
  list-style: none;
}
img {
  display: block;
}


.bold {
  font-weight: 900;
}
.thin {
  font-weight: 300;
}
.blank {
  margin-right: 0.5em;
}

/* ------------------------------------------------------- */
/* --------------------main------------------------------- */
/* ------------------------------------------------------- */
#main{
  position: relative;
  background-color: #ffbfc3;
  z-index: 10;
  overflow: hidden;
}

#mainsvg{
  width: 100%;
  z-index:10;
}

#mainsvg img{
  margin: 0 auto;
  width: 55%;
  margin-top: 10%;
}

.nav{
  position: fixed;
  top: 2em;
  right: 3em;
  width: 30vw;
  z-index: 2;
}

.nav ul li a.active{
  color: white;
  transition-duration: 400ms;
}
.nav ul{
  justify-content: flex-end;
}
.nav ul li a{
  color:black;
  font-weight: 600;
  transition-duration: 400ms;
  padding: 0 1em;
}

.nav ul li a:hover{
  color:#ee4e34;
}



/* ------------------------------------------------------- */
/* --------------------aboutme---------------------------- */
/* ------------------------------------------------------- */



#aboutme {
  background-color: #feefd5;
  width: 100vw;
  position:relative;

}



#profileimg{
  width: 40%;
  opacity: 0;
  z-index: 100;

}
#profileimg.stick {
  position: fixed;
  top: 30%;
  left: 8%;
  width: 27%;
  opacity: 1;

}

#profileimg > img {
  width:100%;
}

#profilebox {
  position: absolute;
  right: 59vw;
  width: 52vw;
  top: 32%;
  transform: translateX(100%);
}


#profilebox > div > ul:not(:first-of-type) {
  margin-top:3em;
}

.moto{
  /* font-weight: 400; */
  font-size: 0.9em;
}


/* ------------------------------------------------------- */
/* --------------------skill------------------------------ */
/* ------------------------------------------------------- */
#skill{
  background-color: #feefd5;
  position:relative;
}

#skill-numb {
  position: absolute;
  width: 50vw;
  transform: translateX(50%);
  right: 30%;
  top: 25%;
}
#skill-numb h4 {
  margin-bottom: 2em;
  font-weight: 900;
  margin-left: 2em;

}

.skill_icon > img {
  width: 30%;
  padding-bottom:0.8em;
  margin: 0 auto;
}
.skill_icon>div{
  text-align: center;
  font-size: 1.4em;
  padding-left: 1em;
}
.skill_count{
  font-size: 1.6em;
}

#skill_sub{
  padding-top:5%;
  width: 90%;
  margin:0 auto;
}


/* --------------------------------------------------------- */
/* --------------------portfolio---------------------------- */
/* --------------------------------------------------------- */

#portfolio {
  background-color: #182e47;
}
#wrap3 {
  width: 400vw;
  height: 80vh;
  transform: translateY(5%);
  justify-content: flex-end;

}
#wrap3 div {
  justify-content: flex-end;
}
.mockup img{
  width: 100%;
}
.mockup_info{
  margin-top:18%;
  font-weight: 300;
  margin-left: 2em;
}
.mockup_info, .go a{
  color:white;

}
/* ------------------------------------------------------- */
/* --------------------contact---------------------------- */
/* ------------------------------------------------------- */
#wrap4 {
  width: 80vw;
  height: 60vh;
  margin:0 auto;
  transform: translateY(40%);
}
#contents1{
  text-align: center;
  font-weight: 900;
}
#contents1 h3{
  font-size: 3em;
  font-weight: 900;
}
#contents1 h4{
  text-align: center;
  margin:0 auto;
  font-size:1.5em;
  font-weight: 400;
}
#contents2{
  background-color: rgba(255, 255, 255, 0.454);
  border-radius:2em;
  padding:1em 0;
}
#contents2 ul li {
  text-align: center;
  padding:2em 0;
  /* font-size: 1em; */
}
.footer{
  width: 70vw;
  margin: 0 auto;
  padding-top: 8%;
}
.velog a:hover{
  color:#ee4e34;
}