body,html{
    font-family: 'Noto Sans KR', sans-serif;
    height:100%;width: 100%;
    background-color: #222;
    color:#fff;
}

.page{
    width:100%;
    height: 100%;
    overflow: hidden;
}

a{
    text-decoration: none;
    display: block;
}

.fontblue{
    color:#6082FA;
    font-weight: 800;
    font-size: larger;
}
.fontbg{
    font-weight: 800;font-size: larger;
}
ul>li{
    list-style: none;
}
img{
    display: block;
}




/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#main_wrap{
    width:100%;
    height: 100%;
    position:relative;
    margin : 0 auto;
}
#logo>img{
    padding: 2.5em;
    width: 8em;
}


#main_wrap>h1:nth-child(3){
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
}

#mainh1_1{
    opacity:0; 
    font-size: 2.3em;
    /* 재생속도, 딜레이 시간 */
    animation : show 2s 1.5s forwards;
}


#mainh1_2{
    opacity:0;
    font-size: 5.5em;
    font-weight: 900;
    animation : show 1s 1s forwards;
}




@keyframes show {
    50%{
        opacity:0.4;
    }
    100%{ 
        opacity:1;
    }
} 


/* 카드 */
#mainImg1{
    opacity:0;
    width: 10%;  
    position:absolute;
    left:45%;
    top:50%;
    animation: dungdung 1s 2.5s infinite alternate;  
    
    transform:translate(-50%,-50%);
    
}



/* 핸드폰 */
#mainImg2{
    width:14%;
    transform:translate(-50%,-50%);
    animation: show 1s 2s forwards;
    opacity:0;
    left:50%;
    top:65%;
    position:absolute;
    /* margin-top: 18%;;
    margin-left: 50%; */
    
    /* margin-top: 17%; */
    /* margin-left: 43.5%;  */
}


@keyframes dungdung {
    0%{
        opacity:1;
        transform:translate(0,0);
    }
  
    100%{ 
        opacity:1;
        transform:translate(0,5%);
    }
} 


#animation-target {
    width:45%;
    overflow: hidden;
    position: absolute;
    margin: 0 auto;
    transform:translate(-50%,-50%);
    left:50%;
    top:60%;
  }

  #pulse>circle {
          fill: #3c3b3b;
          transform: scale(0);
          opacity: 0.4;
          transform-origin: 50% 50%;
          animation: pulse 2.8s 3s cubic-bezier(.5,.5,0,1) 3;
    }
  #pulse>#circle2{
        fill: #4e4e4e;
        animation: pulse 2.8s 3.4s cubic-bezier(.5,.5,0,1) 3;
    }
          
  #pulse>#circle3{
        fill: #383838;
        animation: pulse 2.8s 4s cubic-bezier(.5,.5,0,1) 3;
    }
          
  
  @keyframes pulse {
      25%{
          opacity: 0.4;
      }
      
      100% {  
        transform: scale(1);
        opacity: 0;
      }	
  }
  

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

/* 삼성패스 */


/* 
#chaseCircle {
    margin-top:5em;
	text-align:center;
	position:relative;
   
}

.chase {
	width: 40%;
	stroke-linecap: round;
    margin-right:2%;
}

circle {
	fill: none;
	animation-name: bang;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	transform-origin: 170px 170px;
	will-change: transform;
}




circle:nth-of-type(2) {
		stroke-dasharray: 450px;
		animation-delay:1.5s;
        stroke-width: 1.1;
	}

circle:nth-of-type(3) {
	stroke-dasharray: 300px;
	animation-delay:1s;
    stroke-width: 1;
	}

circle:nth-of-type(4) {
	stroke-dasharray: 250px;
	animation-delay:1.8s;
    stroke-width: 0.8;
	}
 */

		
/* @keyframes bang {
	50% {
		transform: rotate(360deg);
	}
} */

#sp_wrap{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position:relative;
}


#sp_wrap>p{
    text-align: center;
    line-height: 1.5;
    width: 28%;
    font-size: 2.5em;
    box-sizing: border-box;
}


#sp1{
   
    position:absolute;
    left:10%;
    top:50%;
    transform:translate(-50%,-50%);
}

#sp2_1{
    width:16%;
    position:absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:45%;
}

#sp2_2{
    width: 17%;  
    transition-duration: 1.5s;
    transform: translate(-50%,-50%);
    top:50%;
    left: 45%;
    position:absolute;
    opacity:0;
}

#sp2_2.on{
    transition-duration: 1.5s;
    opacity:1;
    top:50%;
    left:55%;
}


#sp3{
    width: 28%;
    position:absolute;
    opacity:0;
    top:45%;
    right:-50%;
}
#sp3.on{
    opacity:1;
    right:0;
    top:45%;
    transition-duration:1s;
}



/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

/* 티켓 */
#samsung_ticket{
    width:100%;
    height:500%;
    margin:0 auto; 
 
    box-sizing: border-box;
    text-align: center;
}

#wrap_st{
    width:100%;
    height:100%;
    position: relative;
}


#wrap_st>i {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0.06em;
    opacity:0.1 ;
    background-color: #fff;
    z-index: -1;
    animation : lineshow forwards 3s 3s;
}

#wrap_st>i:nth-child(1){
    left:13%;
}
#wrap_st>i:nth-child(2){
    left:33%;
}
#wrap_st>i:nth-child(3){
    left:53%;
}
#wrap_st>i:nth-child(4){
    left:73%;
}

#stLeft{
    position: absolute ;
    width:33.33%;
   
    font-size: 2.5em;
    top:45%;
    left:-20%;
    line-height: 1.5;
    animation:shakshak 400ms cubic-bezier(.5,.5,0,1) forwards;
    transition-duration: 400ms;
    opacity:0; 
}

#stLeft.on{
    font-size: 2.5em;
    text-align: center;
    line-height: 1.5;
    position:fixed;
    top:45%;
    left:6%;
    opacity:1;
    transition-duration: 400ms;
    
}

#stRight{
    position: absolute ;
    left: 33.33%;
   
    height:100%;
    overflow: hidden;
}





@keyframes shakshak {
    0%{
        opacity:0;
    }
   
    100%{
        opacity:1;
    }
}

#fixImg{
    width:18%;
    transform: translate(-50%,-50%);
    position:absolute;
    left: 25%;
    top:50%;
    z-index: 100;
    opacity:0; 
    transition-duration: 400ms;
} 


#fixImg.on{
    width:18%;
    position:fixed;
    transform: translate(-50%,-50%);
    left: 50%;
    top:50%;
    opacity:1;
    z-index: 100;
    /* transition-duration: 400ms; */
} 



.cntBox>img{
    float: left; 
    width:29%;
    margin-left: 10.5%;
    margin-top:20%;
    padding: 1.5em;
    box-sizing: border-box;
    
}

.cntBox::after{display: block; content: "";clear: both;}

.cntBox>p{
    float: left;
    width: 30%;
    box-sizing: border-box;
    margin-left:6.5em;
    line-height:1.6;
    font-size: 1.8em;
    margin-top: 21%;
    text-align: left;
}
.cntBox{
    overflow: hidden;
    margin-top:10%;
    opacity:0;
}
.cntBox:not(:last-child){
    margin-bottom:30%;
} 



/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*  환전서비스 */
#ex_wrap::after{content: "";clear: both;display: block;}
#exchange{
    height: 150%;
}
#ex_wrap{
    width:100%;
    margin: 0 auto;
    margin-top: 10%;
}

#exImage{
    float: left; 
    padding-left:25%;
}
#exImage>img:nth-child(1){
    width:60%;
    animation: dungdung2  2s 0s infinite alternate;  

}
#exImage>img:nth-child(2){
    width:80%;
    animation: dungdung2  2s 400ms infinite alternate;  ;

}
/* 둥실둥실효과*/
@keyframes dungdung2 {
    0%,100%{transform:translate(0,0);}
    50%{transform:translate(0,10px);}
   
}

/* @keyframes dungdung3 {
    0%{
       
        transform:translate(0,0);
    }
    50%
    {
        transform:translate(0,3%);
    }
  
    100%{ 
       
        transform:translate(0,-1%);
    }
} */




#exInfo{
    width:25%;
    float: left;
    margin-top:13em;
    line-height: 1.8;
    margin-left:5%;
}


#exHigh.on,#exFast.on,#exInfoP1.on,#exInfoP2.on{
    opacity:1;
    transition-duration: 400ms;   padding-left:0%;
    

}
#exInfoP1.on{
    padding:2em 0;
}

#exHigh{
    font-size: 2.5em;

    opacity:0;
    transition-duration: 400ms;
    width:25%;   padding-left:20%;
    
   
}
#exFast{
    font-size: 2.5em;
  
    opacity:0;
    transition-duration: 400ms;
    transition-delay: 400ms;
    width:25%;   padding-left:20%;
    

}
#exInfoP1{
    font-size: 1.8em;
    opacity:0;
    transition-duration: 400ms;
    transition-delay: 800ms;  
    padding : 2em 0 2em 20%;
    width:100%;
  
}

#exInfoP2{
    margin-top:1em;
    font-size:1em;
    opacity:0;
    transition-duration: 400ms;
    transition-delay: 1200ms;   padding-left:20%;
    
    width:100%;
}



/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

/* payplanner  */
#pp_wrap{
    width:100%;
    height: 100%;
    padding-top: 5em;
    position:relative;
}
#ppLeft{
    width:40%;
    height: 100%    ;
}
#ppRight{
    width:40%;
    height: 100%;      
    line-height: 1.5;
   
}


#ppLeft>img{
    position:absolute;
    left:18%;
    width:30%;
}

#ppRight>h3{
    position:absolute;
    width: 28%;
    font-size: 2.5em;
    right:15%;
    top:15%;
}


#ppInfo1{
    top:28%;
    right:0%;
    position:absolute;
    font-size: 1.5em;
    width:30%;
    transition-duration: 400ms;
    opacity:0;

} 

#ppInfo1.on{
    top:28%;
    opacity: 1;
    right:19%;
    position:absolute;
    font-size: 1.5em;
    width:23%;
    transition-duration: 500ms;
    transition-delay: 400ms;
 }
    
#ppInfo2{
    top:41%;
    right:0%;
    position:absolute;
    width:23%;
    font-size: 1.5em;
    transition-duration: 400ms;
    opacity:0;
}
#ppInfo2.on{
   top:41%;
   right:19%;
   opacity: 1;
   position:absolute;
   width:23%;
   font-size: 1.5em;
   transition-duration: 500ms;
   opacity:1;
   transition-delay: 800ms;
}

#ppInfo3{
    top:55%;
    right:0%;
    font-size:1.5em;
    position:absolute;
    width:23%;    
    transition-duration: 400ms;
    opacity:0;
}






#ppInfo3.on{
    top:55%;
    right:19%;
    font-size:1.5em;
    position:absolute;
    width:23%;    
    transition-duration: 500ms;
    opacity:1;
    transition-delay: 1200ms;
}


/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */


#ms_wrap{
    height: 100%;
    width:100%;
    margin:0 auto;
    position:relative;
}

#ms_wrap>p:nth-child(1){
    font-size : 2.5em;
    line-height: 1.5;
    margin-top:1em;
    margin-bottom:1em;
    text-align: center

}
#ms_wrap>p:nth-child(2){
    font-size : 1.5em;
    line-height: 1.5;
    text-align: center;
}


#ms_wrap>img{
    position:absolute;   
    left:50%; top:50%; 
    transform:translate(-50%,-50%);
  }

#card0{ 
    width:20em; 
    z-index: 100; 
    /* 재생속도 딜레이 */
    animation:cardBounce .1s infinite;
}

#card0:hover{
    cursor: pointer;
}
 
@keyframes cardBounce {
    from {
        transform:translateX(-50%) translateY(-50%) rotate(1deg)

      }
      to {
        transform:translateX(-50%) translateY(-50%) rotate(-1deg)

      }
} 

#card1,#card2,#card3,#card4,#card5,#card6,#card7,#card8,#card9,#card10{width:13em;}

#card1.animate{animation:card1 2.5s  cubic-bezier(0.415, 0.547, 0, 0.809);}
#card2.animate{animation:card2 2.5s cubic-bezier(0.415, 0.547, 0, 0.809);}
#card3.animate{animation:card3 2.5s cubic-bezier(0.415, 0.547, 0, 0.809);}
#card4.animate{animation:card4 2.5s cubic-bezier(0.415, 0.547, 0, 0.809);}
#card5.animate{animation:card5 2.5s cubic-bezier(0.415, 0.547, 0, 0.809);}
#card6.animate{animation:card6 2.5s cubic-bezier(0.415, 0.547, 0, 0.809);}
#card7.animate{animation:card7 2.5s cubic-bezier(0.415, 0.547, 0, 0.809);}
#card8.animate{animation:card8 2.5s cubic-bezier(0.415, 0.547, 0, 0.809);}
#card9.animate{animation:card9 2.5s cubic-bezier(0.415, 0.547, 0, 0.809);}
#card10.animate{animation:card10 2.5s cubic-bezier(0.415, 0.547, 0, 0.809);}
  
  /* koreanair */
  @keyframes card1{
    0% {transform: scale(0) rotateZ(0)}
    50% {transform:scale(1) rotateZ(90deg);left:0%;top:0%;}
    100% {transform:scale(0) rotateZ(0) ;left:45%; top:50%;}
  }

  /* 31 */
  @keyframes card2 {
    0%{transform:scale(0) rotateZ(0)}
    50% {transform:scale(1) rotateZ(90deg);left:75%;top:30%;}
    100% {transform:scale(0) rotateZ(0);left:45%; top:50%;}
  }
  
  /* happypoint */
  @keyframes card3 {
    0% {transform:scale(0)}
    50% {transform:scale(0.9) rotateZ(-300deg);left:87%;top:40%;}
    100% {transform: scale(0);left:45%; top:50%;}
  }
  
  /* 엘포인트 */
  @keyframes card4 {
    0% {transform: scale(0) rotateZ(0)}
    50% {transform:scale(1) rotateZ(-270deg); left:20%;top:38%;}
    100% {transform:scale(0) rotateZ(0);left:45%; top:50%;}
  }
  /* 메가 */
  @keyframes card5 {
    0% {transform:scale(0) rotateZ(0)}
    50% {transform:scale(1) rotateZ(-270deg); left:85%;top:10%;}
    100% {transform:scale(0) rotateZ(0);left:45%; top:50%;}
  }
  /* amore */
  @keyframes card6 {
    0% {transform:scale(0) rotateZ(0)}
    50% {transform: scale(1.3) rotateZ(360deg); left:60%; top:2%;}
    100% {transform:scale(0) rotateZ(0);left:45%; top:50%;}
  }
  /* nh */
  @keyframes card7 {
    0% {transform:scale(0) rotateZ(0)}
    50% {transform:scale(1) rotateZ(-360deg); left:0%;top:40%;}
    100% {transform:scale(0) rotateZ(0);left:45%; top:50%;}
  }
  /* 바닐라 */
  @keyframes card8 {
    0% {transform:scale(0) rotateZ(0)}
    50% {transform:scale(1) rotateZ(-360deg); left:18%;top:15%;}
    100% {transform:scale(0) rotateZ(0);left:45%; top:50%;}
  }
  @keyframes card9 {
    0% {transform:scale(0) rotateZ(0)}
    50% {transform:scale(1) rotateZ(-360deg); left:65%;top:50%;}
    100% {transform:scale(0) rotateZ(0);left:45%; top:50%;}
  }
  @keyframes card10 {
    0% {transform: scale(0) rotateZ(0)}
    50% {transform:scale(1) rotateZ(-270deg); left:35%;top:0%;}
    100% {transform:scale(0) rotateZ(0);left:45%; top:50%;}
  }

  
  
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
#fq_wrap{
    width:80%;
    height: 100%;
    margin:0 auto;
}
#fq_wrap::after{content:""; clear: both;display: block;}
#faqLeft{
    float: left;
    width:50%;
    box-sizing: border-box;
}
#faqRight{
    float: left;
    width:50%;
    position:relative;
    height: 100%;
}

#faqLeft>img{
    width: 25em;
    margin: 15em 6.5em 5em 6.5em;
}
#faqLeft>p:nth-child(2){
    font-size : 1.8em;
    line-height: 1.5;
    margin: 3em 3.5em;
    width:19em;
}

#faqLeft>p:nth-child(3){
    text-align: center;
    margin: 2em 30%;
    padding: 1em ;
    color:white;
    width: 10em;
    font-size: 1.2em;
    cursor: pointer;
    font-weight: 400;
    border-radius: 1.5em;
    background-color: rgb(79, 78, 78);
 
}

#faqRight>img{
    position:absolute;
   
}
#faqRight>img:nth-child(1){
    top: 18%;
    left:25%;
    width:18em;
}
#faqRight>img:nth-child(2){
    width:12em;
    top: 35%;
    left: 31%;
}

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
#ftInfo1>ul::after{clear: both;display: block; content: "";}
#ftInfo2>ul::after{clear: both;display: block; content: "";}


#footer{
    box-sizing: border-box;
    height:50%;
    width:100%;

    border-top: 0.1em #6081fa59 solid;
    color:rgb(133, 132, 132);
}
#ft_wrap{
    width: 75%;
    margin: 0 auto;
    padding-top: 1.5em;
}

#ftInfo1{
    margin:2em;
    line-height: 2;
}
#ftInfo1>ul>li{
    float:left;
    font-weight: 500;
    margin-right: 1.5em;
}
#ftInfo1>p{
    line-height:1.5; 
    margin-top: 2em;
}

#ftInfo1>p:nth-child(3){
    font-weight: 700;
    color:rgb(149, 149, 149);
   
}

#ftInfo2>ul>li{
    padding:0.5em 0;
    text-align: center;
    float:left;
    
}
#ftInfo2>ul>li:not(:last-child){
    border-right: 1px solid #6081fa8f;
    padding-right :5em;
}
#ftInfo2>ul>li:not(:first-child){
    padding-left: 5em;
}
#ftInfo2{
    margin-left: 2em;   
    margin-top:4em;
    cursor: pointer;
}

