
/* 1200 이하 중간 정도*/
@media screen and (max-width:1200px){


#mainwrap {
    width: 90vw;
    margin: 0 auto;
}

#wrap2 {
    width: 90vw;
}

#wrap3 {
    width: 95vw;
}
#wrap4 {
    padding: 0% 0;
}
#wrap5 {
    width: 85vw;
}
#footerWrap {
    width: 85vw;
}

#logo img {
    width: 100%;
    padding-top: 0.2em;
}

.menu {
    padding: 1.5em 0;
    text-align: center;
}

#bookbox {
    width: 70%;
}


.swiper-slide img {
    width: 95%;
}
.cityInfo {
    width: 95%;
   
}


#eventWrap ul li{
    margin-bottom: 3em;
}
#notice2{
    background-color: #5dc2d0;
    margin-top: 2%;
}
#notice2 img{
    width: 70%;
    margin: 0 auto;
}

#footerImg {
    padding: 1em 0 0.5em 0;
}
#footerWrap>ul{
    line-height: 130%;
    font-size: 0.8em;
    color: #222;

}


}

/* 1024 이하 작을때*/
@media screen and (max-width:1024px){
    .subTitle {
        padding: 1em 0;
    }
    
    #wrap3 {
        width: 80vw;
    }
    #wrap4 {
        padding: 0% 0%;
    }
    #wrap5 {
        width: 100vw;
    }
    
    #bookbox {
        width: 85vw;
        top: 15%;
        background-color: #ffffffeb;
    }
    #banner>img {
        width: fit-content;
        margin: 0 auto;
    }
    .cityInfo {
        padding-left: 1em;
        padding-top: 0.8em;
        line-height: 150%;
        font-size: 1em;
    }
    .mapPoint li div input[type="text"] {
        font-size: 1em;
        width: 100%;
    }
    
    #footerWrap>ul { 
        font-size: 0.9em;
    }

}
@media screen and (max-width: 991px){
   
     button{
        outline: none;
        border: none;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
        
    }
    #mainwrap {
        width:80vw;
        margin: 0 auto;
    }
    .mobile_disappear{
        opacity: 0;
        display: none;
    }
    .mobile_appear{
        opacity: 1;
        display: block;
    }
    #hamburger{
        display: block;
        opacity: 1;
    }
    #bookbox {
        width: 90vw;
    }
    
    #mobile_nav{
        padding:1em 0; 
        width: 95vw;
    }
    #mobile_nav ul{
        align-items: center;
        justify-content: space-between;
    }
    #mobile_nav ul li img{
        width:60%;
    }
    #mobile_nav ul li button img{
        width: 100%;
    }
    #hamburger{
        text-align: center;
        padding-top: 0.5em;
    }
  }